<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" th:href="@{/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">
	<link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="content-wrapper">
		<section class="content">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">질문 목록</h1>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">질문 게시판</h3>
							</div>
							<div class="card-body">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>제목</th>
											<th>작성일시</th>
										</tr>
									</thead>
									<tbody>
										<!-- 질문 리스트 -->
										<tr th:each="question:${questions}">
											<td>
												<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.createDate}"></a>
											</td>
											<td>[[${question.createDate}]]</td>
										</tr>
										<tr>
											<td>
												<a href="/question/detail/1">제목</a>
											</td>
											<td>등록일</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
	<script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/dist/js/adminlte.js}"></script>
</body>
</html>